<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madfinalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".NotificationHelper"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MadFinalProject">
        <activity
            android:name=".TouristAttractionAllView"
            android:exported="true" />
        <activity
            android:name=".TouristAttractionsView"
            android:exported="true" />
        <activity
            android:name=".editTouristAttraction"
            android:exported="true" />
        <activity
            android:name=".tourguideSingleView"
            android:exported="true" />
        <activity
            android:name=".HotelOwnerAllBookings"
            android:exported="true" />
        <activity
            android:name=".TravellerFavouriteHotels"
            android:exported="true" />
        <activity
            android:name=".EditReview"
            android:exported="true" />
        <activity
            android:name=".AddReview"
            android:exported="true" />
        <activity
            android:name=".EditBookHotel"
            android:exported="true" />
        <activity
            android:name=".EditHotel"
            android:exported="true" />
        <activity
            android:name=".AllPackages"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PackageMainView"
            android:exported="true" />
        <activity
            android:name=".AddPackage"
            android:exported="true" />
        <activity
            android:name=".HotelHotelOwnerMainView"
            android:exported="true" />
        <activity
            android:name=".BookHotel"
            android:exported="true" />
        <activity
            android:name=".TravelerAllBookings"
            android:exported="true" />
        <activity
            android:name=".HotelTravelerMainView"
            android:exported="true" />
        <activity
            android:name=".AddHotel"
            android:exported="true" />
        <activity
            android:name=".addTouristAttraction"
            android:exported="true" />
        <activity
            android:name=".TravelerMainView"
            android:exported="true" />
        <activity
            android:name=".TourGuideMainView"
            android:exported="true" />
        <activity
            android:name=".HotelOwnerMainView"
            android:exported="true" />
        <activity
            android:name=".HotelOwnerRegistration"
            android:exported="true" />
        <activity
            android:name=".TravelerRegistration"
            android:exported="true" />
        <activity
            android:name=".TourGuideRegistration"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".SignIn"
            android:exported="true" />


    </application>

</manifest>